# Default Packages
node_modules/

# build
dist/
build

# editor configuration
.vscode
!.vscode/lunch.json

# Package lock file
package-lock.json

# secrets  
.env
.env.*
!.env.example

# logs folder
logs/